<button class="btn btn-primary btn-sm" routerLink="/save" routerLinkActive="active">Save Customer</button> |
<button class="btn btn-primary btn-sm" routerLink="/update" routerLinkActive="active">Update Customer</button> |
<button class="btn btn-primary btn-sm" routerLink="/get" routerLinkActive="active">get Customer</button> |
<button class="btn btn-primary btn-sm" routerLink="/delete" routerLinkActive="active">Delete Customer</button> |
<button class="btn btn-primary btn-sm" routerLink="/get-all" routerLinkActive="active">Get All Customers</button>
<hr>
<router-outlet></router-outlet>
