<div class="main-outer">
  <div class="inner">
    <form action="">
      <div class="row" style="margin: 0">
        <div class="col-12">
          <input type="text" class="form-control" placeholder="Customer Id">
        </div>
        <div class="col-12">
          <input type="text" class="form-control" placeholder="Customer Name">
        </div>
        <div class="col-12">
          <input type="text" class="form-control" placeholder="Address">
        </div>
        <div class="col-12">
          <input type="number" class="form-control" placeholder="Salary">
        </div>
        <div class="col-12">
          <button class="button">Save Customer</button>
        </div>
      </div>

    </form>
  </div>
</div>
