.main-outer{
  width: 100%;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}
.inner{
  width: 800px;
  height: auto;
  padding: 10px;
  border: 1px solid #7f8c8d;
  border-radius: 5px;
}
